:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  .call-to-action {
    font-size: 12px;
    font-weight: 500;

    a {
      color: #afcdee;
      font-weight: 700;
    }
  }

  .login-block {
    color: #afcdee;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      font-weight: 700;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &--title {
        font-size: 18px;
        font-weight: 500;
      }

      &--label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
      }

      &--input {
        border: none;
        border-bottom: 2px solid #475361;
        outline: none;
        padding: 5px;
        background: transparent;
        height: 40px;
        font-size: 24px;
        color: #afcdee;
      }

      &--btn {
        height: 45px;
        border: none;
        background-color: #475361;
        padding: 5px;
        color: #afcdee;
        outline: none;
        cursor: pointer;
      }
    }

  }

  .logo {
    .bg-img {
      width: 100%;
      height: 100vh;
    }
  }
}
